<html xmlns="http://www.w3.org/1999/html">
<head>
    <style>
        .div1 {
            width: 70px;
            height: 30px;
            border: 1px solid blue;
        }

        .div2 {
            width: 300px;
            height: 100px;
            padding: 50px;
            border: 1px solid red;
        }
    </style>
    <title>Homework</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   <!-- <script src="getRequest.js"></script> -->

    <script>

        $( document ).ready(function() {
            // GET REQUEST
            $("#firstForm").submit(function (event) {
                event.preventDefault();
                ajaxPost();
            });


            // DO POST
            function ajaxPost(){
                var data =$("#data").val();
                var userName =$("#username").val();
                var city = $("#city").val();
                var formData = {metaData:data,userName:userName,city:city};
                $.ajax({
                    type : "POST",
                    contentType : 'application/json',
                    url : "https://localhost:8443/users" ,
                    dataType : 'json',
                    data : JSON.stringify(formData),
                    success: function(result){
                        $("#divResult").text(result.metaData);
                        $("#divResult").append("<br /><div style='color:deepskyblue;' ><sub>From: "+result.city+" "+result.longitude+" : "+result.latitude+"</sub></div>");
                        $("#divResult").append("<br /><div style='color:deepskyblue;' ><sub>Temperature:  "+result.temperature+"</sub></div>");
                        $("#divResult").append("<br /><div style='color:deepskyblue;' ><sub>At:  "+result.dateTime+"</sub></div>");

                    },
                    error : function(xhr, errorType, exception) {
                        var responseText;
                        $("#dialog").html("");
                        try {
                            responseText = jQuery.parseJSON(xhr.responseText);
                            $("#dialog").append("<div><b>" + errorType + " " + exception + "</b></div>");
                            $("#dialog").append("<div><u>Exception</u>:<br /><br />" + responseText.ExceptionType + "</div>");
                            $("#dialog").append("<div><u>StackTrace</u>:<br /><br />" + responseText.StackTrace + "</div>");
                            $("#dialog").append("<div><u>Message</u>:<br /><br />" + responseText.Message + "</div>");
                        } catch (e) {
                            responseText = xhr.responseText;
                            $("#dialog").html(responseText);
                        }
                        $("#dialog").dialog({
                            title: "jQuery Exception Details",
                            width: 700,
                            buttons: {
                                Close: function () {
                                    $(this).dialog('close');
                                }
                            }
                        });
                    }
                });
            }

        })
    </script>
</head>


<script>

    function ajaxPostComments(commentId){
        //var userName =$("#userNameComment").val();
        var comment = $("#comment"+commentId).val();
        //var city = $("#commentCity").val();
        var formData = {initialPostId:commentId,userName:"userName",comment:comment,city:"Toronto"};
        $.ajax({
            type : "POST",
            contentType : 'application/json',
            url : "https://localhost:8443/comments" ,
            dataType : 'json',
            data : JSON.stringify(formData),
            success: function(result){
                $("#r"+commentId).append("<div style = 'color:palevioletred;'>" + result.comment+ "</div>");
            },
            error : function(xhr, errorType, exception) {
                var responseText;
                $("#dialog").html("");
                try {
                    responseText = jQuery.parseJSON(xhr.responseText);
                    $("#dialog").append("<div><b>" + errorType + " " + exception + "</b></div>");
                    $("#dialog").append("<div><u>Exception</u>:<br /><br />" + responseText.ExceptionType + "</div>");
                    $("#dialog").append("<div><u>StackTrace</u>:<br /><br />" + responseText.StackTrace + "</div>");
                    $("#dialog").append("<div><u>Message</u>:<br /><br />" + responseText.Message + "</div>");
                } catch (e) {
                    responseText = xhr.responseText;
                    $("#dialog").html(responseText);
                }
                $("#dialog").dialog({
                    title: "jQuery Exception Details",
                    width: 700,
                    buttons: {
                        Close: function () {
                            $(this).dialog('close');
                        }
                    }
                });
            }
        });
    }

    $( document ).ready(function() {

        // GET REQUEST
        $("#secondForm").submit(function(event){
            event.preventDefault();
            ajaxPost();
        });



        // DO POST
        function ajaxPost(){
            var userName =$("#user").val();
            $.ajax({
                type : "GET",
                contentType : 'application/json',
                url : "https://localhost:8443/users/" + userName ,
                success: function(result){

                    $("#divResultGet").text("Search results");
                    for (i = 0; i < result.length ; i++) {
                        var commentId = result[i].id


                        $("#divResultGet").append("<div style='color:blue;' id = 'r"  +commentId+"' >"+result[i].metaData+"</div>");
                        $("#r"+commentId).append("<br /><div style='color:black;'><sub> "+result[i].userName+ " @ " +result[i].dateTime +"</sub></div><br />");
                        $("#r"+commentId).append("<div id = 'c" + commentId+"' style='color:black;'><input id = 'comment"+ +commentId +"' name='comment'><a onclick='javascript:ajaxPostComments(" + commentId + ");'>Reply</a></div>");
                        }
                    },
                error : function(xhr) {
                    var responseText;
                    $("#divResultGet").html("");
                    try {
                        responseText = jQuery.parseJSON(xhr.responseText);
                        $("#divResultGet").append("<div><u>Message</u>:<br /><br />" + responseText.message + "</div>");
                    } catch (e) {
                        responseText = xhr.responseText;
                        $("#divResultGet").html(responseText);
                    }
                }
            });
        }
    })
</script>


</head>
<body>

<div class="container-fluid">

    <div class="row">
        <div class="col-sm-4">

                <form id="firstForm">
                    <legend>User</legend>
                            <div class="form-group">
                                <label for="data">Comments</label>
                                <input type="text" class="form-control" id="data" placeholder="Enter a text"/>
                            </div>
                            <div class="row">
                                <div class="col-sm-10">
                                    <label for="username" class="col-sm-2 col-form-label">Username</label>
                                    <input type="text" class="form-control" id="username" placeholder="Enter your username">
                                </div>
                                <div class="col-sm-10">
                                        <label for="city" class="col-sm-2 col-form-label">City</label>
                                        <input type="text" class="form-control" id="city" placeholder="Enter your city"/>
                                </div>
                             </div>

                        <button type="submit" class="btn btn-primary">Submit</button>
                        <div id="divResult"></div>
               </form>
                <form id="secondForm">
                    <div class="form-group">
                        <div class="form-group">
                            <label for="user">User</label>
                            <div class="form-group">
                                <input type="text" class="form-control" id="user" placeholder="Enter your user to get info">
                            </div>
                            <button type="submit" class="btn btn-primary">Search</button>
                            <div id="divResultGet"></div>
                        </div>
                    </div>

             </form>
        </div>
    </div>

</div>
</body>
</html>

